*{
    margin: 0%;
    padding: 0%;
}

.hub_navbar{
    position: fixed;
    width: 100%;
    height: 6%;
    background: #242424;
    color: azure;
}

.hub_main{
    position: fixed;
    display: flex;
    height: 92%;
    width: 100%;
    top: 6%;
    bottom: 2%;
    background: #D9D9D9;
} 

.side_menu{
    height: 100%;
    width: 5%;
    background: #2b3a3b;
    transition: 1s;
    cursor: pointer;
}

.side_menu:hover{
    height: 100%;
    width: 20%;
    background: #2b3a3b;
    transition: 1s;
}

.main_content{
    margin: 2%;
    width: 95%;
    background: #fffeea;
}

.hub_footer{
    position: fixed;
    width: 100%;
    height: 2%;
    bottom: 0;
    background: #242424;
    color: azure;
}











/* BUTTONS */
.plan_btn {
    font-size:15px;
    font-family:Arial;
    width: 40px;
    height:30px;
    border-width:1px;
    color:rgba(0, 0, 0, 1);
    border-color:rgba(255, 254, 234, 1);
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background:rgba(255, 254, 234, 1);
    transition: 0.2s;
    display: block;
}  .plan_btn:hover {
    background: rgb(224, 219, 129);
    width: 180px;
    height: 50px;
    transition: 0.2s;
    display: block;
}

.planned_btn{
    font-size:15px;
    font-family:Arial;
    width: 40px;
    height:30px;
    border-width:1px;
    color:rgba(0, 0, 0, 1);
    border-color:rgba(255, 254, 234, 1);
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background:rgba(255, 254, 234, 1);
    transition: 0.2s;
    display: block;
}  .planned_btn:hover {
    background: rgb(224, 219, 129);
    width: 180px;
    height: 50px;
    transition: 0.2s;
    display: block;
}

.discover_btn{
    font-size:15px;
    font-family:Arial;
    width: 40px;
    height:30px;
    border-width:1px;
    color:rgba(0, 0, 0, 1);
    border-color:rgba(255, 254, 234, 1);
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background:rgba(255, 254, 234, 1);
    transition: 0.2s;
    display: block;
}  .discover_btn:hover {
    background: rgb(224, 219, 129);
    width: 180px;
    height: 50px;
    transition: 0.2s;
    display: block;
}

.options_btn{
    font-size:15px;
    font-family:Arial;
    width: 40px;
    height:30px;
    border-width:1px;
    color:rgba(0, 0, 0, 1);
    border-color:rgba(255, 254, 234, 1);
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background:rgba(255, 254, 234, 1);
    transition: 0.2s;
    display: block;
}  .options_btn:hover {
    background: rgb(224, 219, 129);
    width: 180px;
    height: 50px;
    transition: 0.2s;
    display: block;
}